.date-nav-container {
    vertical-align: middle;
    border-bottom: 1px solid #c8c8c8;
    height:57px;
  }
  
  .controls-container {
    display: flex;
    max-width: 30rem;
  }

  .date-control {
    font-size: 2rem;
    cursor: pointer;
    flex: 1;
  }
  
  .date-control-btn-back {
    border: 1px solid #c8c8c8;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 8px;
    /*box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);*/
  }
  
  .date-control-btn-forward {
    border: 1px solid #c8c8c8;
    border-bottom: none;
    border-left: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 10px;
    /*box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);*/
  }
  
  .date-display {
    flex: 2;
    display:inline-block;
    font-size: 2rem;
    text-align: center;
    padding:5px 0;
    color: #007bff;
    border: 1px solid #c8c8c8;
    border-bottom: 2px solid #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -1px 0.5px 0 rgba(0, 0, 0, 0.16);
  
    position: relative;
    top: -5px;
    height: 62px;
    z-index: 9999;
  }
  
  